.App {
  text-align: center;
}

/* .App__body {
  display: flex;
} */

.App__title > span {
  background-color: #7b68ee;
  color: white;
  border-radius: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
